*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
}

nav{
    display: grid;
    grid-template-columns: repeat(3, 2em 1fr 5em);
    align-items: center;
    padding: 1em;
}

nav>input{
    grid-column: 2 / 6;
    background: rgb(212, 211, 211, .5);
    border-radius: 30px;
    border: none;
}

nav p{
    grid-column: 9;
}

header>div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}



.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 2em;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,109,121,1) 51%, rgba(0,212,255,1) 99%);;
    display: grid;
    gap: 50px;
}

.sidebar .home{
    display: grid;
    gap: 20px;
}

.sidebar .setting{
    grid-row: 4 / 5;
    display: grid;
    gap: 20px;
}

.sidebar a{
    display: flex;
    align-items: flex-end;
    gap: 8px;
    color: #fff;
    text-decoration: none;
}

.mainContent{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 2em;
    background: rgb(196, 201, 209, .5);
}

.mainContent .projects>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.mainContent .announcement{
    margin-left: 1em;
}


/* Here until content*/
.mainContent .project{
    background: #fff;
    border-radius: 10px;
    border-left: 4px solid #fbbf24;

}

.mainContent .announce>div{
    background: red;
    height: 100px;
    
}

.mainContent .trending{
    background: red;
}


