@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Prompt;
}

main{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
}

nav{
    display: grid;
    grid-template-columns: repeat(3, 2em 1fr 200px);
    align-items: center;
    padding: 1em;
}

nav img{
    cursor: pointer;
}

nav>input{
    grid-column: 2 / 6;
    min-height: 2em;
    background: rgb(212, 211, 211, .5);
    border-radius: 30px;
    border: none;
}

nav .ring{
    grid-column: 8 / 9;
}

nav a{
    grid-column: 9;
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: black;
}

header{
    box-shadow: 0 5px 3px rgb(202, 199, 199) ;
    position: relative;
}

header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

header .name img{
    height: 100px;
}

header .name {
    display: flex;
    align-items: center;
    gap: .5em;
}

.btn button{
    margin-right: 2em;
    min-height: 2em;
    min-width: 6em;
    background: #00a2c2;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 2em;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,109,121,1) 51%, rgba(0,212,255,1) 99%);;
    display: grid;
    gap: 50px;
}

.sidebar h1{
    color: #fff;
}

.sidebar .home{
    display: grid;
    gap: 20px;
}

.sidebar .setting{
    grid-row: 4 / 5;
    display: grid;
    gap: 20px;
}

.sidebar a{
    display: flex;
    align-items: flex-end;
    gap: 8px;
    color: #fff;
    text-decoration: none;
}

.mainContent{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 2em;
    background: rgb(226, 232, 241);
}

.mainContent .projects>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.mainContent .announcement{
    margin-left: 1.5em;
}

.mainContent .project{
    background: #fff;
    border-radius: 10px;
    border-left: 5px solid #fbbf24;
    padding: 1em;
    display: grid;
    gap: 15px;
    cursor: pointer;
}

.mainContent .announce .infos{
    background: #fff;
    padding: 1em;
    border-radius: 10px;
    display: grid;
    gap: 30px;
}

.infos>div{
    cursor: pointer;
}

.infos>div:first-of-type{
    padding-bottom: 1em;
    border-bottom: 2px solid rgb(175, 175, 175, .5) ;
}

.mainContent .trending{
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    display: grid;
    gap: 15px;
}

.trending .profil{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.trending .profil img{
    width: 40px;
    height: 40px;
}

.mainContent p{
    color: grey;
    line-height: 1em;
}

.mainContent .project:hover{
    transform: scale(1.02);
    transition: all .4s ease;
}
